* {
    margin: 0;
}

body {
    background-color: #002333;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.saction {
    background-color: #b4bec9;
    width: 95vw;
    height: 100vh;
    border-radius: 5px;

}

.sec-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    justify-content: center;
    height: 100vh;
}

.header {
    width: 100%;
}

header nav h4:hover {
    color: #159a9c;
}

.header .nav-bar {
    display: flex;
    margin: 10px;
    gap: 5px;
}

.card-home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.circle-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transform: translate(0, 55%);
    order: 2;   
    max-width: 400px;
    min-width: 300px;
    width: 48%;
    height: 48%;
    background-color: #002333;
    border-radius: 50%;
}

.circle-2 {
    width: 80%;
    height: 80%;
    background-color: #159a9c;
    border-radius: 50%;
    justify-content: center;
}

.my-image-1s {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.sub-card-flex {
    max-width: 400px;
    min-width: 300px;
    width: 47%;
    height: 400px;
    background-color: #002333;
}

.name-lastname {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 50px;
    border-radius: 3px;
   
}

.icos-social {
    margin: 5px;
    width: 90%;
    height: 30px;
    background-color: #b4bec9;
    border-radius: 3px;
}

.sec-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "image about" 
    "image about";
    justify-items: center;
    height: 100vh;
}

.my-image-2 {
    display: flex;
    flex-direction: column;
    grid-area: image;
    max-width: 300px;
    min-width: 250px;
    width: 80%;
    height: 60%;
    flex-shrink: 0.1em;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #002333;
}

.my-image-2 img {
    order: 1;
    align-self: center;
    width: 90%;
    height: 100%;
    flex-shrink: inherit;
    margin-top: 15px;
    border-radius: 5px;
}

.email {
    display: flex;
    order: 2;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    margin-bottom: 6em;
    background-color: #002333;
}

.email strong {
    text-align: center;
}

.text-about-my {
    display: flex;
    grid-area: about;
    align-self: flex-end;
    max-width: 300px;
    min-width: 250px;
    width: 80%;
    height: 60%;
    flex-shrink: 0.1em;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #002333;
}

.sec-3 {
    display: grid;
    grid-template-columns: .1fr 2fr 2fr;
    grid-template-rows: .1fr 2fr;
    grid-template-areas: 
    "header header header"
    "skill-icons bar-porcent coments";
}



.title-sec-3 {
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    background-color: #002333;
    margin: .5em;
    border-radius: 5px;
}

.icons-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: skill-icons;
    align-self: center;
    max-width: 50px;
    width: 3rem;
    height: 50vh;
    background-color: #002333;
    margin: .5em;
    border-radius: 5px;
}

.box-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 2.5rem;
    height: 49vh;
    background-color: #b4bec9;
}

.box-icons img {
    width: 30px;
    height: 30px;
    margin: 2px;
}

.icon-js, .icon-github {
    border-radius: 20px;
}

.box-porcent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    grid-area: bar-porcent;
    align-self: center;
    max-width: 350px;
    min-width: 300px;
    height: 50vh;
    background-color: #002333;
    margin: .5em;
    border-radius: 5px;
}

.bar-porcent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 5px;
    border-radius: 5px;
    background-color: #159a9c;
}

.ball-porcent {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 25px;
    height: 25px;
    background-color: #b4bec9;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
}

.coments {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: coments;
    align-self: center;
    gap: 5px;
    max-width: 300px;
    min-width: 300px;
    height: 50vh;
    background-color: #002333;
    margin: .5em;
    border-radius: 5px;
}

.box-coments {
    width: 95%;
    height: 50px;
    border:#159a9c solid 1px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 730px) {
    .sec-3 {
        display: flex;
        flex-direction: column;
    }


.icons-skills {
    width: 50vw;
    height: 3rem;
}

.box-icons {
    width: 49vw;
    height: 2.5rem;
}
        
}

@media (max-width: 550px) {
    .header {
        justify-items: center;
        width: 100%;
    }

    .sec-2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .my-image-2 {
        height: 0.1fr;
    }

    .email {
        height: 50px;
    }

    .text-about-my {
        margin: auto;
        height: 1fr;
        
    }

    
 
}


