* {
    margin: 0;
}
body {
    background-color: #002333;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.saction {
    background-color: #b4bec9;
    width: 95vw;
    height: 100vh;
    border-radius: 5px;

}

.header {
    width: 100%;
}

.header .nav-bar {
    display: flex;
    margin: 10px;
    gap: 5px;
}

.sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.card-home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 300px;
    height: 100vh;
}

.circle-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    position: relative;
    z-index: 1;
    transform: translate(0, 100px);
    width: 355px;
    height: 350px;
    background-color: #002333;
    border-radius: 50%;
}

.circle-2 {
    width: 300px;
    height: 300px;
    background-color: #159a9c;
    border-radius: 50%;
}

.name-lastname {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transform: translate(-0.1%, -50px);
    width: 350px;
    height: 300px;
    border-radius: 3px;
    background-color: #002333;
}

.icos-social {
    margin: 5px;
    width: 90%;
    height: 30px;
    background-color: #b4bec9;
    border-radius: 3px;
}

.sec-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "image about" 
    "image about";
    justify-items: center;
    height: 100vh;
}

.my-image-2 {
    display: flex;

    grid-area: image;
    width: 350px;
    height: 500px;
    background-color: #002333;
    margin-top: 20px;
}

.my-image-2 img {
    order: 1;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    width: 350px;
    height: 100px;
    margin-bottom: 6em;
    background-color: #002333;
}

.text-about-my {
    grid-area: about;
    align-self: flex-end;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #002333;
}

.sec-3 {
    display: grid;
    grid-template-columns: .1fr 2fr 2fr;
    grid-template-rows: .1fr 2fr;
    grid-template-areas: 
    "header header header"
    "skill-icons bar-porcent coments";
}

.title-sec-3 {
    display: flex;
    grid-area: header;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    background-color: #002333;
    margin: .5em;
    border-radius: 5px;
}

.icons-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: skill-icons;
    align-self: center;
    width: 3rem;
    height: 50vh;
    background-color: #002333;
    margin: .5em;
    border-radius: 5px;
}

.box-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 2.5rem;
    height: 49vh;
    background-color: #b4bec9;
}

.box-icons img {
    width: 30px;
    height: 30px;
    margin: 2px;
}

.box-porcent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    grid-area: bar-porcent;
    align-self: center;
    height: 50vh;
    background-color: #002333;
    margin: .5em;
    border-radius: 5px;
}

.bar-porcent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 5px;
    border-radius: 5px;
    background-color: #159a9c;
}

.ball-porcent {
    width: 20px;
    height: 20px;
    background-color: #b4bec9;
    border-radius: 50%;
}

.coments {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: coments;
    align-self: center;
    gap: 5px;
    height: 50vh;
    background-color: #002333;
    margin: .5em;
    border-radius: 5px;
}

.box-coments {
    width: 95%;
    height: 50px;
    border:#159a9c solid 1px;
    border-radius: 5px;
    font-size: 14px;
}